@import "../../../assets/scss/constants/colors.scss";
@import "../../../assets/scss/constants/mixins.scss";

.template {
    width: 100%;
}

.flex {
    display: flex;
}

.panel {
    border-radius: 15px;
    background-color: $white;
    width: 100%;
    padding: 0 2%;
    height: 10rem;
    flex: 1;
    &-primary {
        border-radius: 0px;
    }
    &-secondary {
        background-color: #F3F9FF;
        border: 2px solid $lightPanelBorder;
        .sub-heading {
            color: $lightBlue;
        }
    }
}

.sub-panel {
    margin: 1%;
    padding: 1%;
    height: 92%;
}

.template-viewer {
    padding-left: 2%;
    height: 6.5rem !important;
    overflow: auto;
    width: 100%;
}
.dynamic-input {
    margin-top: 2%;
}
.field-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
    height: 80%;
    align-items: flex-start;
}
