@import "../../../assets/scss/constants/mixins.scss";
@import "../../../assets/scss/constants/mixins.scss";

.template-container {
    display: grid;
    grid-template-rows: 47% 50%;
    font-size: 0.75rem;
}
