@import "../../../assets/scss/constants/mixins.scss";
@import "../../../assets/scss/constants/mixins.scss";

.template-container {
    display: grid;
    grid-template-rows: auto auto;
    font-size: 0.75rem;
    height: 30rem;
}
