@import "../../assets//scss/constants/colors.scss";
.event-dashboard-container {
  flex: 1;
  padding: 1% 5%;

  .event-dropdown {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 1rem;
    margin-bottom: 1.5%;
  }
  .btn-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 2.5%;
    height: 1rem;
  }
}
