$white: #ffffff;
$black: #393939;
$componentBlack: #025772;
$lightBlue: #1f70fb;
$darkBlue: #0a36ff;
$grey: grey;
$gray: #ddd;
$lightGrey: #a6a6a6;
$mediumGrey: #dddddd;
$whisper: #eee;
$moonMist: #c8c8c2;
$lightPanelBlue: #F3F9FF;
$lightPanelBorder: #DEEFFF;

