.dropdown {
    width: 100%;
    padding-left: 1rem;
    font-size: 100%;
}
select {
    // line-height: 5rem;
    background: white;
    border-radius: 5px;
    height: 100%;
}
option {
    padding: 45px 40px;
}
select.dropdown {
    height: 30px;
}
.dropdown-options {
    padding: 30px;
}
