.dropdown {
    width: 100%;
}
select {
    height: 2rem;
    line-height: 5rem;
    background: #f4f4f4;
    padding-left: 1rem;
    padding-top: 0.2%;
}
option {
    padding: 45px 40px;
}
select.dropdown {
    height: 30px;
}
.dropdown-options {
    padding: 30px;
}
