@import "../../../assets/scss/constants/mixins.scss";
@import "../../../assets/scss/constants/colors.scss";
.menubar {
    @include alignElement(flex, left, center);
    width: 100%;
    border-bottom: 2px solid $darkBlue;
    .menu {
        height: 1%;
        background-color: $white;
        padding: 0.5%;
        color: $black;
        border: 0.1 solid $darkBlue;
        border-radius: 2%;
        margin: 1px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;
        border: none;
        outline: none;
        transition: 0.3s;
        min-width: 7%;
    }

    :hover {
        background-color: rgba(253, 253, 253, 0.5);
    }

    .active {
        background-color: $lightBlue;
        color: $white;
    }
}
